page-about {
  ion-content {
    // background-image: red url(../../../www/assets/img/3.png) no-repeat;
    height: 100%;
    display: block;
    vertical-align: middle;
  }

  p .page-footer {
    margin-left: auto;
    margin-right: auto;
  }
}
